@import url("https://fonts.googleapis.com/css2? family=Rubik+Charcos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
* {
  border: 0;
  padding: 0;
  margin: 0;
}

/*sirve con imagenes tambien!. */
.fondo, body {
  background-image: url("../../imagenes/fondos/arrauntoshan.jpg");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  position: sticky;
  color: white;
}

/* usar funte: font-family: 'Rubik Puddles', cursiva;*/
/* usar funte: font-family: 'Dancing Script', cursive;*/
/* usar funte: font-family: 'Permanent Marker', cursive;*/
@media (max-width: 480px) {
  * {
    border: 0;
    padding: 0;
    margin: 0;
  }
  /* foooter grid */
  footer {
    display: grid;
  }
  footer .conjuntofooter {
    flex-direction: row;
    display: grid;
    grid-template-rows: repeat(1fr 1fr);
    grid-template-columns: repeat(1fr 2fr 2fr);
    grid-template-areas: "item1 item3 item3" "item2 item2 item2";
    justify-items: center;
    align-items: stretch;
  }
  footer .conjuntofooter .item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-area: "item1";
  }
  footer .conjuntofooter .item1 .logofooter {
    width: 70px;
    margin-left: 20%;
    margin-top: 15%;
  }
  footer .item2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-area: "item3";
  }
  footer .item2 .navfooter {
    display: flex;
    flex-wrap: wrap;
    padding: 0% !important;
    font-size: 14px;
    text-align: center;
  }
  footer .item2 .navfooter .ulnav {
    text-align: center;
    margin-top: 4%;
  }
  footer .item2 .navfooter .ulnav .ulnav li {
    font-size: 14px;
  }
  footer .item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-area: "item2";
  }
  footer .item3 .copryght {
    flex-direction: column-reverse;
    margin-top: 2%;
    padding: 0%;
    border: 0%;
    justify-content: center;
    align-items: center;
  }
  footer .item3 .copryght .pfooter2 {
    text-align: center;
    padding: 0%;
  }
  footer .item3 .copryght .pfooter {
    text-align: center;
    padding: 0%;
  }
  /* final  footer grid*/
  /* index */
  .containernuestros {
    display: flex;
    flex-flow: wrap;
    justify-items: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .containernuestros .galeriaindex {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    padding: 4px;
    object-fit: cover;
    background-color: black;
    filter: grayscale(0%);
  }
  .titulosfotosresponsive .topfotos {
    margin-top: 0%;
  }
  .titulosfotosresponsive .ptopfotos {
    margin-top: 0%;
  }
  .conjunto-info-index {
    text-align: center;
  }
  .conjunto-info-index .h2-index {
    padding-bottom: 5%;
  }
  .conjunto-info-index .p-tlf-index {
    padding: 3%;
  }
  .conjunto-info-index .h3index {
    padding: 5%;
  }
  .maparesponsive {
    justify-content: center;
  }
  /* final index */
  /* clasicos */
  main .h1clasicos {
    font-size: 3rem;
  }
  main .h3clasicos {
    padding-bottom: 4%;
  }
  main .listaclasicos {
    padding-bottom: 10%;
  }
  main .listaclasicos .liclasicos {
    padding-top: 7%;
  }
  main .listaclasicos .textococtelesclasicos {
    font-size: 20px;
  }
  main .coctelesxnombre {
    text-align: center;
  }
  /* fin clasicos */
  /*galeria*/
  .containernuestros2 {
    display: flex;
    flex-flow: wrap;
    justify-items: center;
    align-items: center;
    margin: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .containernuestros2 .galeriaphotos {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    padding: 4px;
    object-fit: cover;
    background-color: black;
  }
  /*fin galeria*/
  /*historia*/
  main .h2historia {
    font-size: 3rem;
    font-family: "Permanent Marker", cursive, Verdana;
    text-align: center;
  }
  /*fin historia*/
  /*nuestros*/
  .divnuestros .nuestrosh2 {
    font-size: 45px;
    padding-bottom: 2%;
  }
  .divnuestros .nuestrosh3 {
    padding: 2%;
  }
  .divnuestros .containernuestrosgrid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15%;
  }
  /*fin nuestros*/
  /*navbar grid*/
  .conjuntoheader {
    display: inline-block;
    flex-wrap: wrap;
  }
  .conjuntoheader .divnavmenu {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .conjuntoheader .divnavmenu .navmenu {
    margin: 0%;
  }
  .conjuntoheader .logoytituloresponsive {
    width: 100%;
  }
  .conjuntoheader .logoytituloresponsive .divtitulo {
    width: 100%;
    font-size: 65%;
  }
  .conjuntoheader .logoytituloresponsive .divtitulo .tituloh1 {
    font-family: "Permanent Marker", cursive, Verdana;
  }
  .navbar-expand-lg .container-fluid h1 {
    font-size: 1rem;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center;
  }
  .navbar-expand-lg .d-flex {
    padding: 0%;
    text-align: center;
    justify-content: center;
  }
  .navbar-expand-lg .logomenu .navbar-brand {
    margin: 0%;
    padding: 0%;
  }
  .navbar-expand-lg .logomenu .navbar-brand img {
    margin: 0%;
  }
  /* fin navbar grid*/
  /*nosotros*/
  .divintro {
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .divhorarios {
    text-align: center;
  }
  .divtlf {
    text-align: center;
  }
  .divdir {
    text-align: center;
  }
  .mailto2 {
    text-align: center;
  }
}
/* fin nosotros*/
/*----------------------------------------------------------*/
/* media queris tablets */
@media (max-width: 850px) {
  header .conjuntoheader {
    width: 100%;
    display: inline-block;
  }
  header .conjuntoheader .logoytituloresponsive {
    justify-content: center;
  }
  header .conjuntoheader .divnavmenu {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}
.conjunto-info-index {
  display: flex;
  flex-direction: column;
  padding: 1%;
  text-align: center;
}
.conjunto-info-index .h2-index {
  font-size: 3rem;
  margin-top: 0%;
  margin-bottom: 2%;
  background-image: linear-gradient(aqua, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Permanent Marker", cursive, Verdana;
}
.conjunto-info-index .h3index {
  font-size: 23px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: azure;
  background-image: linear-gradient(aqua, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Permanent Marker", cursive, Verdana;
}
.conjunto-info-index .h4index {
  font-size: 23px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #52C0CC;
  background-image: linear-gradient(aqua, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Permanent Marker", cursive, Verdana;
}
.conjunto-info-index .p-d-index {
  font-size: 23px;
  color: #52C0CC;
  background-image: linear-gradient(aqua, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Permanent Marker", cursive, Verdana;
}
.conjunto-info-index .p-dir-index {
  font-size: 18px;
}
.conjunto-info-index .p-tlf-index {
  font-size: 18px;
}
.conjunto-info-index .p-dias-ind {
  font-size: 18px;
}
.conjunto-info-index .p-dias2-ind {
  font-size: 18px;
}
.conjunto-info-index ul li {
  list-style: none;
}

.topfotos {
  font-size: 4rem;
  text-align: center;
  font-family: "Permanent Marker", cursive, Verdana;
  color: azure;
}

.ptopfotos {
  font-size: 2rem;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  text-align: center;
  color: white;
  font-family: "Dancing Script", cursive, Verdana;
}

.titulosfotosresponsive {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: auto;
  color: azure;
  margin-bottom: 4%;
  background-image: url("../../imagenes/fondos/mashielos.jpg");
  object-fit: cover;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.containernuestros {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.containernuestros .galeriaindex {
  max-width: 23%;
  object-fit: cover;
  border-radius: 5%;
  border: 2px solid #B3F7FF;
  margin: 4px;
}

.maparesponsive {
  display: flex;
  margin: 1%;
  padding: 1%;
  justify-content: center;
}
.maparesponsive .mparesponsive {
  display: flex;
  border-radius: 20px;
  border: 2px solid black;
  width: 350px;
  height: 250px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.h1clasicos {
  font-size: 4rem;
  font-family: "Permanent Marker", cursive, Verdana;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-top: 2%;
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.description {
  margin-bottom: 6%;
  font-size: 20px;
}

.contenedorclasicos {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.textococtelesclasicos {
  background-color: rgba(40, 51, 62, 0.449);
  text-align: center;
  text-shadow: shadow;
  border: 2px solid black;
  padding: 5px;
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.textococtelesclasicos:hover {
  background-color: black;
}

.listaclasicos {
  list-style: none;
  max-width: 100%;
  align-self: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.listaclasicos h5 {
  font-family: "Permanent Marker", cursive, Verdana;
}

.liclasicos {
  text-align: center;
  font-size: 2rem;
  text-shadow: 10px 5px 10px rgba(243, 247, 246, 0.183);
  margin-top: 1%;
  margin-bottom: 1%;
  /*@extend .degrade;*/
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.coctelesxnombre {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 5%;
  text-align: center;
}
.coctelesxnombre ul li {
  list-style: none;
  display: inline-flex;
  padding: 1.4%;
  border: 0.5px solid black;
  background-image: linear-gradient(rgba(128, 181, 242, 0.3176470588), rgba(15, 1, 1, 0.505));
  margin-top: 1%;
}
.coctelesxnombre li:hover {
  background-color: #337880;
}

.h2historia {
  font-size: 4rem;
  font-family: "Permanent Marker", cursive, Verdana;
  text-align: center;
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 2%;
}

.divhistoria {
  margin: 2% 10% 5% 10%;
}
.divhistoria .section1 {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(42, 2, 128, 0.449);
  border: 2px solid black;
  padding: 5px;
  text-shadow: 2px 2px 2px black;
}
.divhistoria .section2 {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
  background-color: rgba(42, 2, 128, 0.689);
  border: 2px solid black;
  text-shadow: 2px 2px 2px black;
}

.bushmills {
  object-fit: cover;
  text-align: center;
  margin: 5%;
}
.bushmills .imagenbushmills {
  border: 3px solid #52C0CC;
  object-fit: cover;
  width: 80%;
}

.h4galeria {
  font-size: 4rem;
  font-family: "Permanent Marker", cursive, Verdana;
  text-align: center;
  padding: 1%;
  /*@extend .degrade;*/
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 2%;
}

.containernuestros2 {
  text-align: center;
  margin: 2%;
  display: flex;
}
.containernuestros2 .grid-container {
  width: 100%;
}
.containernuestros2 .grid-container .galeriaphotos {
  justify-content: center;
  align-items: center;
  max-width: 21%;
  padding: 4px;
  object-fit: cover;
  background-color: #52C0CC;
  margin-left: 2px;
}

.divtlf {
  padding: 1%;
  margin: 1%;
}
.divtlf .h5telefono {
  font-size: 22px;
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Permanent Marker", cursive, Verdana;
}
.divtlf .ptelefono {
  font-size: 15px;
}

.mailto2 {
  display: block;
  padding-bottom: 2%;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.mailto2 .h6mailto {
  font-size: 1.5rem;
  margin-top: 2%;
  margin-bottom: 0%;
  padding-bottom: 1%;
  font-family: "Permanent Marker", cursive, Verdana;
  color: #337880;
}
.mailto2 .penvianos {
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px black;
  color: #52C0CC;
}
.mailto2 .pmail {
  font-size: 1.1rem;
  text-shadow: 2px 2px 2px black;
  color: #52C0CC;
}
.mailto2 .buttonmail {
  text-shadow: 2px 2px 2px black;
  border: 1px solid rgba(2, 221, 254, 0.546);
  border-radius: 4px;
}

.maparesponsive {
  padding-top: 1%;
}
.maparesponsive .mparesponsive {
  display: flex;
  border-radius: 20px;
  border: 2px solid black;
  width: 350px;
  height: 250px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.divdir {
  padding: 1%;
  margin: 1%;
}
.divdir .pdir {
  font-size: 18px;
  text-shadow: 2px 2px 2px black;
}
.divdir .h4dir {
  font-size: 22px;
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Permanent Marker", cursive, Verdana;
}

.about {
  padding: 1%;
  margin: 1%;
}
.about .h3info {
  font-size: 22px;
  font-family: "Permanent Marker", cursive, Verdana;
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.about .ulinfo {
  font-size: 16px;
  list-style: none;
}

.divhorarios {
  padding: 1%;
  margin: 1%;
}
.divhorarios .h3horas {
  font-size: 22px;
  font-family: "Permanent Marker", cursive, Verdana;
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.divhorarios .phoras {
  font-size: 18px;
  text-shadow: 2px 2px 2px black;
}

.nuestrosh2 {
  text-align: center;
  font-size: 4rem;
  font-family: "Permanent Marker", cursive, Verdana;
  /*@extend .degrade;*/
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 2%;
}

.nuestrosh3 {
  text-align: center;
  font-size: 2rem;
  color: #52C0CC;
  padding-top: 2%;
  font-family: "Dancing Script", cursive, Verdana;
}

.cardscocteles {
  display: grid;
  width: 400px;
  background-color: black;
  padding: 3px;
  margin: 5px 5px 5px 5px;
  border: 0;
  object-fit: cover;
  text-align: center;
}
.cardscocteles .cardsbody {
  display: inline-block;
  width: 100%;
}
.cardscocteles .cardsbody img {
  width: 100%;
  object-fit: cover;
  position: sticky;
}
.cardscocteles .ptexto {
  font-size: 14px;
}

.containernuestrosgrid {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
}

.nuestros {
  font-family: "Permanent Marker", cursive, Verdana;
  font-size: 25px;
  color: #65EFFF;
}

footer {
  background-image: url("../../imagenes/fondos/galaxia2.jpg");
  background-position-x: 50%;
  background-position-y: 80%;
  border: 5px solid black;
}

.conjuntofooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}
.conjuntofooter .logoftr {
  display: flex;
}
.conjuntofooter .logofooter {
  width: 90px;
  border-style: outset;
  border: 1px solid #52C0CC;
  border-color: #52C0CC;
  object-fit: cover;
}
.conjuntofooter .navfooter {
  display: flex;
  align-self: center;
  justify-content: center;
}
.conjuntofooter .navfooter .ulnav li {
  display: inline-block;
  list-style-type: none;
  padding: 2px;
  position: relative;
  padding-right: 0.1vh;
  padding-left: 1vh;
  font-size: 1rem;
  cursor: pointer;
}
.conjuntofooter .navfooter .ulnav li a {
  color: #52C0CC;
}
.conjuntofooter .copryght {
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  font-size: 1rem;
  margin-right: 1vh;
  color: #52C0CC;
  font-family: "Dancing Script", cursive, Verdana;
}
.conjuntofooter .copryght .pfooter {
  color: azure;
  text-align: end;
  padding: 1%;
}
.conjuntofooter .copryght .pfooter2 {
  text-align: end;
  padding: 2%;
  color: azure;
}

.buttonmail {
  display: inline-block;
  text-shadow: 2px 2px 2px black;
  border: 1px solid rgba(2, 221, 254, 0.546);
  padding: 1.5px;
  margin-top: 2%;
  border-radius: 4px;
  font-family: "Permanent Marker", cursive, Verdana;
}

.conjuntoheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logoytituloresponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  display: block;
  background-image: url("../../imagenes/fondos/galaxia2.jpg");
  background-repeat: repeat;
  object-fit: cover;
  top: 0;
  left: 0;
  width: auto;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 10px 1px 10px rgba(12, 215, 201, 0.692);
  padding-left: 30px;
  font-family: "Rubik Puddles", cursiva, Verdana;
}

.tituloh1 {
  font-size: 3em;
  color: rgb(255, 255, 255);
  text-shadow: 10px 1px 10px rgba(12, 215, 201, 0.692);
  text-align: center;
  /*@extend .degrade;*/
  background-image: linear-gradient(#52C0CC, white);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.logomenu {
  width: 80px;
  background-color: #52C0CC;
  object-fit: cover;
  padding: 2%;
  margin: 5%;
}

.divnavmenu .navmenu {
  display: flex;
  flex-direction: row;
  margin-right: 2vh;
  text-align: end;
}
.divnavmenu .navmenu ul li {
  list-style-type: none;
  display: inline-flex;
}
.divnavmenu .navmenu ul li a {
  text-decoration: none;
}
.divnavmenu .navmenu ul li a:link {
  color: #52C0CC;
}
.divnavmenu .navmenu ul li a:visited {
  color: #52C0CC;
}
.divnavmenu .navmenu ul li a:hover {
  color: rgb(0, 225, 255);
  text-shadow: 20px rgb(15, 15, 15);
}
.divnavmenu .navmenu ul li a {
  text-decoration: none;
  text-shadow: 5px 4px 10px rgba(0, 229, 255, 0.596);
  color: #52C0CC;
  font-size: 16px;
  margin-left: 0.5vh;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(253, 253, 253);
}

a:visited {
  color: rgb(250, 252, 250);
}

a:hover {
  color: rgb(0, 225, 255);
  text-shadow: 20px rgb(15, 15, 15);
}

.galeriaindex {
  filter: grayscale(100%);
  transition: all 2s ease-in-out;
}

.galeriaindex:hover {
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
}

/*pruebas*/
.tituloh1 {
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(0, 174, 255, 0.75), -0.025em -0.05em 0 rgba(255, 255, 255, 0.75), 0.025em 0.05em 0 rgba(65, 65, 66, 0.75);
  animation: glitch 400ms infinite;
}

.tituloh1 span {
  position: absolute;
  top: 0;
  left: 0;
}

.tituloh1 span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}

.tituloh1 span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(0, 174, 255, 0.75), -0.05em -0.025em 0 rgba(255, 255, 255, 0.75), -0.025em 0.05em 0 rgba(65, 65, 66, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(0, 174, 255, 0.75), 0.025em 0.025em 0 rgba(255, 255, 255, 0.75), -0.05em -0.05em 0 rgba(65, 65, 66, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(0, 174, 255, 0.75), 0.05em 0 0 rgba(255, 255, 255, 0.75), 0 -0.05em 0 rgba(65, 65, 66, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(0, 174, 255, 0.75), -0.025em -0.025em 0 rgba(255, 255, 255, 0.75), -0.025em -0.05em 0 rgba(65, 65, 66, 0.75);
  }
}
/* Enviar un Correo */
.mailto {
  display: block;
  padding-bottom: 5%;
}

.buttonmail2 {
  text-shadow: 2px 2px 2px black;
  border: 2px solid rgba(2, 221, 254, 0.546);
  padding: 1px;
  border-radius: 4px;
}

/* Final de Enviar un Correo. */

/*# sourceMappingURL=style.css.map */
