* {
  border: 0;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  /* foooter */
  footer {
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: repeat 2 1fr;
    grid-template-areas: "logo logo texto" "lista lista texto";
  }
  .ulnav li {
    display: inline-flex;
    padding: 0.1px;
    font-size: 0.4rem;
    cursor: pointer;
  }
  .logoftr .logofooter {
    width: 20px;
    height: 40px;
    justify-content: center;
    align-self: center;
  }
  /* final  footer*/
  /* index */
  .containernuestros {
    display: flex;
    flex-flow: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .containernuestros .galeriaindex {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    padding: 4px;
    object-fit: cover;
    background-color: black;
  }
  .titulosfotosresponsive .topfotos {
    margin-top: 10%;
  }
  .titulosfotosresponsive .ptopfotos {
    margin-top: 10%;
  }
  .conjunto-info-index {
    text-align: center;
  }
  .conjunto-info-index .h2-index {
    padding-bottom: 5%;
  }
  .conjunto-info-index .p-tlf-index {
    padding: 3%;
  }
  .conjunto-info-index .h3index {
    padding: 5%;
  }
  /* final index */
  /* clasicos */
  .h3clasicos {
    padding-bottom: 4%;
  }
  .listaclasicos {
    padding-bottom: 10%;
  }
  .listaclasicos .liclasicos {
    padding-top: 7%;
  }
  .listaclasicos .textococtelesclasicos {
    font-size: 20px;
  }
  /* fin clasicos */
  /*galeria*/
  .containernuestros2 {
    display: flex;
    flex-flow: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .containernuestros2 .galeriaphotos {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    padding: 4px;
    object-fit: cover;
    background-color: black;
  }
  /*fin galeria*/
  /*historia*/
  .h2historia {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
  }
  /*fin historia*/
  /*nuestros*/
  .divnuestros .nuestrosh2 {
    font-size: 25px;
    padding-bottom: 2%;
  }
  .divnuestros .nuestrosh3 {
    padding: 2%;
  }
  .divnuestros .containernuestrosgrid {
    display: flex;
    flex-wrap: wrap;
  }
  /*fin nuestros*/
}
.conjunto-info-index {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.conjunto-info-index .h2-index {
  font-size: 30px;
  margin-top: 0%;
  margin-bottom: 2%;
}
.conjunto-info-index .h3index {
  font-size: 23px;
  margin-top: 1%;
  margin-bottom: 1%;
  color: azure;
}
.conjunto-info-index .p-dir-index {
  font-size: 18px;
}
.conjunto-info-index .p-tlf-index {
  font-size: 18px;
}
.conjunto-info-index .p-dias-ind {
  font-size: 18px;
}
.conjunto-info-index .p-dias2-ind {
  font-size: 18px;
}
.conjunto-info-index ul li {
  list-style: none;
}

.topfotos {
  font-size: 34px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  text-align: center;
}

.ptopfotos {
  font-size: 22px;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  text-align: center;
}

.titulosfotosresponsive {
  color: azure;
}

.containernuestros {
  width: 100%;
  margin: 2%;
  align-items: center;
  justify-content: center;
}
.containernuestros .galeriaindex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 23%;
  padding: 4px;
  object-fit: cover;
  background-color: black;
  margin-left: 2px;
  flex-flow: wrap;
}

.maparesponsive {
  margin: 1%;
  padding: 1%;
}
.maparesponsive .mparesponsive {
  display: flex;
  border-radius: 20px;
  border: 2px solid black;
  width: 350px;
  height: 250px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.h3clasicos {
  font-size: 3rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.description {
  margin-bottom: 6%;
  font-size: 20px;
}

.contenedorclasicos {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.textococtelesclasicos {
  background-color: rgba(42, 2, 128, 0.449);
  text-align: center;
  text-shadow: 2px 2px 2px black;
  border: 2px solid black;
  padding: 5px;
  max-width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.listaclasicos {
  list-style: none;
  max-width: 100%;
  align-self: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.liclasicos {
  text-align: center;
  font-size: 2rem;
  text-shadow: 10px 5px 10px aquamarine;
  margin-top: 1%;
  margin-bottom: 1%;
}

.h2historia {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.divhistoria {
  margin: 2% 15% 5% 15%;
}
.divhistoria .section1 {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(42, 2, 128, 0.449);
  border: 2px solid black;
  padding: 5px;
  text-shadow: 2px 2px 2px black;
}
.divhistoria .section2 {
  font-size: 1.2rem;
  display: flex;
  text-align: center;
  background-color: rgba(42, 2, 128, 0.689);
  border: 2px solid black;
  text-shadow: 2px 2px 2px black;
}

.bushmills {
  object-fit: cover;
  text-align: center;
  margin: 5%;
}
.bushmills .imagenbushmills {
  border: 3px solid black;
  object-fit: cover;
  width: 80%;
}

.h4galeria {
  font-size: 2.5rem;
  text-align: center;
  padding: 3%;
}

.containernuestros2 {
  text-align: center;
  margin: 2%;
  display: flex;
}

.grid-container {
  width: 100%;
}

.galeriaphotos {
  justify-content: center;
  align-items: center;
  max-width: 21%;
  padding: 4px;
  object-fit: cover;
  background-color: black;
  margin-left: 2px;
}

.divtlf {
  padding: 1%;
  margin: 1%;
}
.divtlf .h5telefono {
  font-size: 22px;
}
.divtlf .ptelefono {
  font-size: 15px;
}

.mailto2 {
  display: block;
  padding-bottom: 2%;
  margin: 1%;
  padding: 1%;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.mailto2 .h6mailto {
  font-size: 1.5rem;
  margin-top: 2%;
  margin-bottom: 0%;
  padding-bottom: 1%;
}
.mailto2 .penvianos {
  font-size: 1.1rem;
}
.mailto2 .pmail {
  font-size: 1.1rem;
}
.mailto2 .buttonmail {
  text-shadow: 2px 2px 2px black;
  border: 1px solid rgba(2, 221, 254, 0.546);
  border-radius: 4px;
}

.maparesponsive {
  padding-top: 1%;
}
.maparesponsive .mparesponsive {
  display: flex;
  border-radius: 20px;
  border: 2px solid black;
  width: 350px;
  height: 250px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.divintro {
  padding: 1%;
  margin: 1%;
}
.divintro .pintro {
  font-size: 20px;
}

.divdir {
  padding: 1%;
  margin: 1%;
}
.divdir .pdir {
  font-size: 18px;
}
.divdir .h4dir {
  font-size: 22px;
}

.about {
  padding: 1%;
  margin: 1%;
}
.about .h3info {
  font-size: 22px;
}
.about .ulinfo {
  font-size: 16px;
  list-style: none;
}

.divhorarios {
  padding: 1%;
  margin: 1%;
}
.divhorarios .h3horas {
  font-size: 22px;
}
.divhorarios .phoras {
  font-size: 18px;
}

.nuestrosh2 {
  text-align: center;
  font-size: 3rem;
}

.nuestrosh3 {
  text-align: center;
  font-size: 1.2rem;
}

.cardscocteles {
  display: grid;
  width: 400px;
  background-color: black;
  padding: 3px;
  margin: 5px 5px 5px 5px;
  border: 0;
  object-fit: cover;
  text-align: center;
}

.cardsbody img {
  width: 100%;
  object-fit: cover;
  position: sticky;
}

.cardsbody {
  display: inline-block;
  width: 100%;
}

.containernuestrosgrid {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
}

footer {
  width: 99.3%;
  height: 100%;
  background-image: url(../imagenes/bartenderanime.jpg);
  background-size: cover;
  object-fit: cover;
  background-position-x: 50%;
  background-position-y: 80%;
  border: 5px solid black;
  margin-bottom: 0px;
}

.conjuntofooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}
.conjuntofooter .logoftr {
  display: flex;
  grid-area: logo;
}
.conjuntofooter .logofooter {
  width: 90px;
  border-style: outset;
  border: 1px solid;
  border-color: rgb(255, 255, 255);
  object-fit: cover;
}
.conjuntofooter .navfooter {
  display: flex;
  align-self: center;
  justify-content: center;
  grid-area: lista;
}
.conjuntofooter .navfooter .ulnav li {
  display: inline-block;
  list-style-type: none;
  padding: 2px;
  position: relative;
  padding-right: 0.1vh;
  padding-left: 1vh;
  font-size: 1rem;
  cursor: pointer;
}
.conjuntofooter .copryght {
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  text-align: end;
  font-size: 0.8rem;
  margin-right: 1vh;
  grid-area: texto;
}
.conjuntofooter .copryght .pfooter {
  text-align: end;
  padding: 1%;
}
.conjuntofooter .copryght .pfooter2 {
  text-align: end;
  padding: 2%;
}

.buttonmail {
  display: inline-block;
  text-shadow: 2px 2px 2px black;
  border: 1px solid rgba(2, 221, 254, 0.546);
  padding: 1.5px;
  margin-top: 2%;
  border-radius: 4px;
}

/*header*/
.conjuntoheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logoytituloresponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  display: block;
  background-image: url(../imagenes/fondos/galaxia.webp);
  background-repeat: repeat;
  object-fit: cover;
  position: fixed;
  border: 2px solid black;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

h1 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-shadow: 10px 1px 10px rgba(12, 215, 201, 0.692);
  padding-left: 30px;
}

.tituloh1 {
  font-size: 1.4em;
  color: rgb(255, 255, 255);
  text-shadow: 10px 1px 10px rgba(12, 215, 201, 0.692);
  text-align: center;
}

.logomenu {
  width: 80px;
  background-color: rgb(228, 220, 220);
  border-style: outset;
  border-color: rgb(255, 255, 255);
  object-fit: cover;
  padding: 2%;
  margin: 5%;
}

.navmenu {
  display: flex;
  flex-direction: row;
  margin-right: 2vh;
  text-align: end;
}

.navmenu ul li {
  list-style-type: none;
  display: inline-flex;
}

.navmenu ul li a {
  text-decoration: none;
  text-shadow: 5px 4px 10px rgba(0, 229, 255, 0.596);
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgba(55, 56, 56, 0.566);
  margin-left: 1vh;
  cursor: pointer;
}

body {
  width: 100%;
  background-image: url(../imagenes/fondos/arrauntoshan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  position: sticky;
  color: azure;
  font-family: sans-serif, arial;
  display: block;
}

main {
  margin-top: 15vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

/* Enlaces */
a {
  text-decoration: none;
}

a:link {
  color: rgb(253, 253, 253);
}

a:visited {
  color: rgb(250, 252, 250);
}

a:hover {
  color: rgb(0, 225, 255);
  text-shadow: 20px rgb(15, 15, 15);
}

.galeriaindex {
  filter: grayscale(100%);
  transition: all 2s ease-in-out;
}

.galeriaindex:hover {
  filter: grayscale(0%);
  transition: all 0.5s ease-in-out;
}

/* Enviar un Correo */
.mailto {
  display: block;
  padding-bottom: 5%;
}

.buttonmail2 {
  text-shadow: 2px 2px 2px black;
  border: 2px solid rgba(2, 221, 254, 0.546);
  padding: 1px;
  border-radius: 4px;
}

/* Final de Enviar un Correo */

/*# sourceMappingURL=style.css.map */
