.h1clasicos {
    font-size: $title-size;
    font-family: $titulo;
    text-align: center;
    @include degrade;
}

.description {
    margin-bottom: 6%;
    font-size: 20px;
}


.contenedorclasicos {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.textococtelesclasicos {
    background-color: rgba(40, 51, 62, 0.449);
    text-align: center;
    text-shadow: shadow;
    border: $border;
    padding: 5px;
    max-width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;

}

.textococtelesclasicos:hover {
    background-color: black
}

;

.listaclasicos {
    list-style: none;
    max-width: 100%;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;

    h5 {
        font-family: $titulo;
    }




}

.liclasicos {
    text-align: center;
    font-size: 2rem;
    text-shadow: 10px 5px 10px rgba(243, 247, 246, 0.183);
    margin-top: 1%;
    margin-bottom: 1%;

    @include degrade;
}

.coctelesxnombre {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 5%;
    text-align: center;

    ul li {
        list-style: none;
        display: inline-flex;
        padding: 1.4%;
        border: 0.5px solid black;
        background-image: linear-gradient(#80b5f251, rgba(15, 1, 1, 0.505));
        margin-top: 1%;
    }

    li:hover {
        background-color: $color4;
    }
}


//simulador
.cocktail-simulator {
    width: 300px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-image: url(../../imagenes/fondos/limones.webp);
    object-fit: cover;
    background-position-x: 80%;
    background-position-y: 85%;
  }
  
  button {
    margin-top: 10px;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.509);
  }