.h4galeria {
    font-size: 4rem;
    font-family: $grafitti;
    text-align: center;
    padding: 1%;
    background-image: linear-gradient(aqua, white);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.containernuestros2 {
    text-align: center;
    margin: 2%;
    display: flex;
}

.grid-container {
    width: 100%;
  
}

.galeriaphotos {
    justify-content: center;
    align-items: center;
    max-width: 21%;
    padding: 4px;
    object-fit: cover;
    background-color: $main-color;
    margin-left: 2px;

}