.h2historia {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.section1 {
    text-align: center;
    background-color: rgba(42, 2, 128, 0.449);
    border: 2px solid black;
    padding: 5px;
    text-shadow: 2px 2px 2px black
}

.section2 {
    display: flex;
    text-align: center;
    background-color: rgba(42, 2, 128, 0.689);
    border: 2px solid black;
    text-shadow: 2px 2px 2px black
}


.bushmills {
    object-fit: cover;
    text-align: center;

}

.imagenbushmills {
    border: 3px solid black;
    object-fit: cover;
    width: 60%;
}