
.h2historia {
    font-size: 3rem;
    text-align: center;
    background-image: linear-gradient(aqua, white);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
 

}

.divhistoria {
    margin: 2% 10% 5% 10%;
 

    .section1 {
        font-size: 1.2rem;
        text-align: center;
        background-color: rgba(42, 2, 128, 0.449);
        border: $border;
        padding: 5px;
        text-shadow: $shadow;


    }

    .section2 {
        font-size: 1.2rem;
        display: flex;
        text-align: center;
        background-color: rgba(42, 2, 128, 0.689);
        border: $border;
        text-shadow: $shadow;

    }
}


.bushmills {
    object-fit: cover;
    text-align: center;
    margin: 5%;

    .imagenbushmills {
        border: 3px solid $main-color;
        object-fit: cover;
        width: 80%;
    }
}