.conjunto-info-index {
    display: flex;
    flex-direction: column;
    padding: 1%;

    .h2-index {
        font-size: 30px;
        margin-top: 0%;
        margin-bottom: 2%;
    }

    .h3index {
        font-size: 23px;
        margin-top: 1%;
        margin-bottom: 1%;
        color: azure;
    }

    .p-dir-index {
        font-size: 18px;
    }

    .p-tlf-index {
        font-size: 18px;

    }

    .p-dias-ind {
        font-size: 18px;
    }

    .p-dias2-ind {
        font-size: 18px;
    }

    ul li {
        list-style: none;
    }
}

.topfotos {
    font-size: 34px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

.ptopfotos {
    font-size: 22px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

.titulosfotosresponsive {
    color: azure;
}

.galeriaindex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 23%;
    padding: 4px;
    object-fit: cover;
    background-color: black;
    margin-left: 2px;

}

.containernuestros {
    width: 100%;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.maparesponsive {
    margin: 1%;
    padding: 1%;

    .mparesponsive {

        display: flex;
        border-radius: 20px;
        border: 2px solid black;
        width: 350px;
        height: 250px;
        margin-top: 3%;
        margin-bottom: 3%;

    }
}