.h2index {
    font-size: 35px;
}

.conjuntoinfoindex {
    display: flex;
    flex-direction: column;

}

ul li {
    list-style: none;
}

h3 {
    color: azure;
}

.topfotos {
    font-size: 34px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

.ptopfotos {
    font-size: 22px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

.titulosfotosresponsive {
    color: azure;
}

.galeriaindex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 23%;
    padding: 4px;
    object-fit: cover;
    background-color: black;
    margin-left: 2px;

}

.containernuestros {
    width: 100%;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.maparesponsive iframe {

    display: flex;
    border-radius: 20px;
    border: 2px solid black;
    width: 350px;
    height: 250px;
}