@media(max-width: 480px) {
    * {
        border: 0;
        padding: 0;
        margin: 0;
    }


    /* foooter grid */

    footer {
        display: grid;



        .conjuntofooter {
            flex-direction: row;
            display: grid;
            grid-template-rows: repeat(1fr 1fr);
            grid-template-columns: repeat(1fr 2fr 2fr);
            grid-template-areas:
                "item1 item3 item3"
                "item2 item2 item2";
            justify-items: center;
            align-items: stretch;

            .item1

            /*logo*/
                {

                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                grid-area: "item1";


                .logofooter {
                    width: 70px;
                    margin-left: 20%;
                    margin-top: 15%;

                }
            }
        }



        .item2

        /*nav*/
            {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
            grid-area: "item3";

            .navfooter {
                display: flex;
                flex-wrap: wrap;
                padding: 0% !important;
                font-size: 14px;
                text-align: center;



                .ulnav {

                    text-align: center;
                    margin-top: 4%;



                    .ulnav li {
                        font-size: 14px;



                    }
                }
            }




        }



        .item3

        /*texto*/
            {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-area: "item2";

            .copryght {

                flex-direction: column-reverse;
                margin-top: 2%;
                padding: 0%;
                border: 0%;
                justify-content: center;
                align-items: center;




                .pfooter2 {
                    text-align: center;
                    padding: 0%;

                }

                .pfooter {
                    text-align: center;
                    padding: 0%;

                }
            }




        }


    }

    /* final  footer grid*/

    /* index */
    .containernuestros {
        display: flex;
        flex-flow: wrap;
        justify-items: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;

        .galeriaindex {
            display: inline-flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            min-width: 40%;
            padding: 4px;
            object-fit: cover;
            background-color: black;
            filter: grayscale(0%);
        }
    }

    .titulosfotosresponsive {




        .topfotos {
            margin-top: 0%;
        }

        .ptopfotos {
            margin-top: 0%;
        }

    }

    .conjunto-info-index {
        text-align: center;

        .h2-index {
            padding-bottom: 5%;
        }

        .p-tlf-index {
            padding: 3%;
        }

        .h3index {
            padding: 5%;
        }
    }

    .maparesponsive {
        justify-content: center;
    }



    /* final index */


    /* clasicos */

    main {
        .h1clasicos {
            font-size: 3rem;
            padding: 0%;
            margin: 0%;
        }

        .h3clasicos {
            padding-bottom: 4%;
        }

        .listaclasicos {
            padding-bottom: 10%;
            

            .liclasicos {
                padding-top: 7%;
                
            }

            .textococtelesclasicos {
                font-size: 20px;
            }
        }

        .coctelesxnombre {
            text-align: center;
         
        }
    }



    /* fin clasicos */

    /*galeria*/

    .containernuestros2 {
        display: flex;
        flex-flow: wrap;
        justify-items: center;
        align-items: center;
        margin: 10%;
        padding-top: 10%;
        padding-bottom: 10%;

        .galeriaphotos {
            display: inline-flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            min-width: 40%;
            padding: 4px;
            object-fit: cover;
            background-color: black;
        }
    }

    /*fin galeria*/

    /*historia*/

    main {
        .h2historia {
            font-size: 3rem;
            font-family: $marker;
            text-align: center;
        }

    }

    /*fin historia*/
    /*nuestros*/
    .divnuestros {
        .nuestrosh2 {
            font-size: 45px;
            padding-bottom: 2%;
        }

        .nuestrosh3 {
            padding: 2%;
        }

        .containernuestrosgrid {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 15%;

        }
    }

    /*fin nuestros*/


    /*navbar grid*/
    .conjuntoheader {
        display: inline-block;
        flex-wrap: wrap;


        .divnavmenu {
            display: inline-flex;
            text-align: center;
            justify-content: center;
            width: 100%;

            .navmenu {
                margin: 0%;

            }
        }

        .logoytituloresponsive {
            width: 100%;

            .divtitulo {
                width: 100%;
                font-size: 65%;

                .tituloh1 {
                    font-family: $marker;
                }
            }
        }
    }

    .navbar-expand-lg {
        .container-fluid h1 {
            font-size: 1rem;
            margin: 0%;
            padding: 0%;
            justify-content: center;
            align-items: center;
        }

        .d-flex {
            padding: 0%;
            text-align: center;
            justify-content: center;
        }

        .logomenu {
            .navbar-brand {
                margin: 0%;
                padding: 0%;


                img {
                    margin: 0%;
                }
            }
        }
    }



    /* fin navbar grid*/
    /*nosotros*/
    .divintro {
        text-align: center;
    }

    .about {
        text-align: center;
    }

    .divhorarios {
        text-align: center;
    }

    .divtlf {
        text-align: center;
    }

    .divdir {
        text-align: center;
    }

    .mailto2 {
        text-align: center;
    }




}

/* fin nosotros*/


/*----------------------------------------------------------*/
/* media queris tablets */


@media(max-width: 850px) {
    header {

        .conjuntoheader {
            width: 100%;
            display: inline-block;

            .logoytituloresponsive {
                justify-content: center;
            }

            .divnavmenu {
                display: inline-flex;
                text-align: center;
                justify-content: center;
                width: 100%;


            }
        }


    }



}