@media(max-width: 480px) {

    /* foooter */
    footer {
        display: grid;
        grid-template-columns: (3 1fr);
        grid-template-rows: repeat (2 1fr);
        grid-template-areas:
            "logo logo texto"
            "lista lista texto";
    }


    .ulnav li {
        display: inline-flex;
        padding: 0.1px;
        font-size: 0.4rem;
        cursor: pointer;
    }

    .logoftr .logofooter {
        width: 20px;
        height: 40px;
        justify-content: center;
        align-self: center;
    }

    /* final  footer*/

    /* index */
    .containernuestros {
        display: flex;
        flex-flow: wrap;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 10%;
        padding-top: 10%;
        padding-bottom: 10%;

        .galeriaindex {
            display: inline-flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            min-width: 40%;
            padding: 4px;
            object-fit: cover;
            background-color: black;
        }
    }

    .titulosfotosresponsive {
        .topfotos {
            margin-top: 10%;
        }

        .ptopfotos {
            margin-top: 10%;
        }
    }

    .conjunto-info-index {
        text-align: center;

        .h2-index {
            padding-bottom: 5%;
        }

        .p-tlf-index {
            padding: 3%;
        }

        .h3index {
            padding: 5%;
        }
    }

    /* final index */

    /* clasicos */
    .h3clasicos {
        padding-bottom: 4%;
    }

    .listaclasicos {
        padding-bottom: 10%;

        .liclasicos {
            padding-top: 7%;
        }

        .textococtelesclasicos {
            font-size: 20px;
        }
    }

    /* fin clasicos */

    /*galeria*/
    .containernuestros2 {
        display: flex;
        flex-flow: wrap;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 10%;
        padding-top: 10%;
        padding-bottom: 10%;

        .galeriaphotos {
            display: inline-flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
            min-width: 40%;
            padding: 4px;
            object-fit: cover;
            background-color: black;
        }
    }

    /*fin galeria*/

    /*historia*/
    .h2historia {
        font-size: 3rem;
        text-align: center;
        text-shadow: 2px 2px 2px black;
    }

    /*fin historia*/
    /*nuestros*/
    .divnuestros {
        .nuestrosh2 {
            font-size: 25px;
            padding-bottom: 2%;
        }

        .nuestrosh3 {
            padding: 2%;
        }

        .containernuestrosgrid {
            display: flex;
            flex-wrap: wrap;
        }
    }

    /*fin nuestros*/
}