.divtlf {

    padding: 1%;
    margin: 1%;

    .h5telefono {
        font-size: 22px;
        background-image: linear-gradient(aqua, white);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .ptelefono {
        font-size: 15px;
    }
}

.mailto2 {
    display: block;
    padding-bottom: 2%;
    margin: 1%;
    padding: 1%;
   

    .h6mailto {
        font-size: 1.5rem;
        margin-top: 2%;
        margin-bottom: 0%;
        padding-bottom: 1%;
        background-image: linear-gradient(aqua, white);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

    }

    .penvianos {
        font-size: 1.1rem;
        text-shadow: $shadow;
        color: $main-color;
    }

    .pmail {
        font-size: 1.1rem;
        text-shadow: $shadow;
        color: $main-color;
    }

    .buttonmail {
        text-shadow: $shadow;
        border: 1px solid rgba(2, 221, 254, 0.546);
        border-radius: 4px;

    }

}

.maparesponsive {
    padding-top: 1%;

    .mparesponsive {

        display: flex;
        border-radius: 20px;
        border: 2px solid black;
        width: 350px;
        height: 250px;
        margin-top: 1%;
        margin-bottom: 1%;

    }
}


.divintro {
    padding: 1%;
    margin: 1%;
    padding-top: 2%;
    font-family: $pegadita;

    .pintro {
        font-size: 2rem;
        text-shadow: shadow;
        color: $main-color;
    }
}

.divdir {

    padding: 1%;
    margin: 1%;

    .pdir {
        font-size: 18px;
        text-shadow: $shadow;
        

    }

    .h4dir {
        font-size: 22px;
        background-image: linear-gradient(aqua, white);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

    }


}

.about {
    padding: 1%;
    margin: 1%;

    .h3info {
        font-size: 22px;
        background-image: linear-gradient(aqua, white);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

    }

    .ulinfo {
        font-size: 16px;
        list-style: none;

    }
}

.divhorarios {
    padding: 1%;
    margin: 1%;

    .h3horas {
        font-size: 22px;
        background-image: linear-gradient(aqua, white);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    .phoras {
        font-size: 18px;
        text-shadow: $shadow;
    }
}