.nuestrosh2 {
    text-align: center;
    font-size: $title-size;
    font-family: $titulo;
    @include degrade;
    padding-top: 2%;


}

.nuestrosh3 {
    text-align: center;
    font-size: 2rem;
    color: $main-color;
    padding-top: 2%;
    font-family: $pegadita;
}

.cardscocteles {
    display: grid;
    width: 400px;
    background-color: black;
    padding: 3px;
    margin: 5px 5px 5px 5px;
    border: 0;
    object-fit: cover;
    text-align: center;

    .cardsbody {
        display: inline-block;
        width: 100%;

    }

    .cardsbody img {
        width: 100%;
        object-fit: cover;
        position: sticky;

    }

    .ptexto {
        font-size: 14px;
    }
}





.containernuestrosgrid {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;

}

.nuestros {
    font-family: $marker;
    font-size: 25px;
    color: $color2;
}