body {
    width: 100%;
    background-image: url(../imagenes/fondos/arrauntoshan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: sticky;
    color: azure;
    font-family: sans-serif, arial;
    display: block;

}


main {
    margin-top: 15vh;
    margin-left: 2vh;
    margin-right: 2vh;
}