html {
    width: auto;
}

body {
    width: auto;
    background-image: url(../imagenes/fondos/arrauntoshan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: sticky;
    color: azure;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


main {
    width: auto;
    margin-top: 6vh;
    margin-left: 2vh;
    margin-right: 2vh;
}