footer {
    width: 99.3%;
    height: 100%;
    background-image: url(../imagenes/bartenderanime.jpg);
    background-size: cover;
    object-fit: cover;
    background-position-x: 50%;
    background-position-y: 80%;
    border: 5px solid black;
    margin-bottom: 0px;

}




.conjuntofooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;



    .logoftr {
        display: flex;
    }

    .logofooter {
        width: 90px;
        border-style: outset;
        border: 1px solid;
        border-color: rgb(255, 255, 255);
        object-fit: cover;
    }

    .navfooter {
        display: flex;
        align-self: center;
        justify-content: center;

        .ulnav li {
            display: inline-block;
            list-style-type: none;
            padding: 2px;
            position: relative;
            padding-right: 0.1vh;
            padding-left: 1vh;
            font-size: 1rem;
            cursor: pointer;

        }
    }

    .copryght {
        display: inline-flex;
        flex-direction: column;
        justify-items: center;
        text-align: end;
        font-size: 0.8rem;
        margin-right: 1vh;

        .pfooter {
            text-align: end;
            padding: 1%;
        }

        .pfooter2 {
            text-align: end;
            padding: 2%;



        }
    }


}

.buttonmail {
    display: inline-block;
    text-shadow: 2px 2px 2px black;
    border: 1px solid rgba(2, 221, 254, 0.546);
    padding: 1.5px;
    margin-top: 2%;
    border-radius: 4px;
}