/* Enviar un Correo */
.mailto {
    display: block;
    padding-bottom: 5%;

}

.buttonmail {
    text-shadow: 2px 2px 2px black;
    border: 1px solid rgba(2, 221, 254, 0.546);
    padding: 1px;
    border-radius: 4px;

}

.buttonmail2 {
    text-shadow: 2px 2px 2px black;
    border: 2px solid rgba(2, 221, 254, 0.546);
    padding: 1px;
    border-radius: 4px;


}

/* Final de Enviar un Correo */