
$main-color: rgb(171, 250, 250);
$minimun-size: 14px;
$title-size: 4rem;
$main-font: arial;
$grafitti: 'Rubik Puddles', cursiva;
$shadow: 2px 2px 2px black;
$border: 2px solid black;
$pegadita:'Dancing Script', cursive;

/*sirve con imagenes tambien!. */