
$main-color: #52C0CC;
$color2: #65EFFF;
$color3: #B3F7FF;
$color4: #337880;
$color5: #597C80;


$main-font: arial;
$grafitti: 'Rubik Puddles', cursiva, Verdana;
$pegadita:'Dancing Script', cursive, Verdana;
$marker: 'Permanent Marker', cursive, Verdana;
$titulo: 'Permanent Marker', cursive, Verdana;


$minimun-size: 14px;
$title-size: 4rem;


$shadow: 2px 2px 2px black;
$border: 2px solid black;
$border2: 2px solid #B3F7FF;


/*sirve con imagenes tambien!. */